version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8080:80"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASS=root
      - DB_NAME=warungajib1
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: warungajib_db
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=warungajib1
    volumes:
      - ./warungajib1.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/mysql
    networks:
      - app-network

  pma:
    image: phpmyadmin/phpmyadmin
    container_name: warungajib_pma
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root
    depends_on:
      - db
    networks:
      - app-network

volumes:
  db_data:


networks:
  app-network:
    driver: bridge